body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;

}
nav {
  position: absolute;
  display: block;
  opacity: 0.7;
  margin-top: 0;
  width: 100%;

}

li {
  display: inline;
  padding: 7%;

}
a {
  color: grey;
  font-size: 210%;
}

h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 350%;
  color: grey;
  position: absolute;
  left: 37%;
  top: 22%;
}

.title {
  color: grey;
  position: absolute;
  left: 43%;
  top: 33%;
  font-size: 235%;


}

h2 {
  position: absolute;
  margin: 0;
  margin-top: 4%;
  margin-left: 43%;
  color: black;
  font-size: 300%;
}



.top-container {
  position: relative;
  background-color: black;
  margin: 0;
  width: 100%;
  height: 100%;


}

.middle-container {

    position: relative;
    background-color: #F9F6F0;
    width: 100%;
    height: 100vh;
    margin: 0;
}
.middle-container-two {
    position: relative;
    background-color: #F9F6F0;
    width: 100%;
    /* height: 50%; */
    margin: 0;

}
.last-container {
    position: relative;
    background-color: #F9F6F0;
    width: 100%;
    /* height: 50%; */
    margin: 0;

}.last-container-two {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-bottom: 0;

}
.profile-image {
  display: inline-block;
  position: absolute;
  margin-left: 6%;
  margin-top: 10%;

}
.bio {
  display: inline-block;
  position: absolute;
  margin-left: 42%;
  margin-top: 10%;
  color: black;
  font-size: 150%;
  font-family: 'Shippori Mincho B1', serif;
}

.project {
  position: absolute;
  color: black;
  margin-top: 3%;
  margin-left: 45%;

}
.git {
  width: 20%;
  height: 15%;
  margin-top: 9%;
  margin-left: 11%;
}

.spotify {
  width: 20%;
  height: 25%;
  margin-top: 9%;
  margin-left: 11%;
}

.password {
  width: 20%;
  height: 25%;
  margin-top: 9%;
  margin-left: 11%;
}

.pacman {
  width: 20%;
  height: 30%;
  margin-top: 10%;
  margin-left: 20%;
  margin-bottom: 9%;
}

.spam {
  width: 20%;
  height: 30%;
  margin-top: 10%;
  margin-left: 20%;
  margin-bottom: 9%;
}

.skills {

  position: relative;
  color: black;
  margin-top: 0;
  margin-left: 45%;
}
/* .languages {
  height: 5;
  width: 200px;
} */

.skills-ranking {
  display: inline-block;
  width: 20%;
  /* height: 100%; */
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 20%;

}

.skills-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #7e939b;

}
.skills-ranking p {
  font-size: 150%;
}

.Python {
  width: 90%;
  background-color: #bd4944;
  color: white;

}

.Java {
  width: 80%;
  background-color: #bd4944;
  color: white;

}

.HTML {
  width: 80%;
  background-color: #bd4944;
  color: white;

}

.CSS {
  width: 80%;
  background-color: #bd4944;
  color: white;

}

.SQL {
  width: 90%;
  background-color: #bd4944;
  color: white;

}

.Splunk {
  width: 70%;
  background-color: #bd4944;
  color: white;

}

.r {
  width: 90%;
  background-color: #bd4944;
  color: white;

}

.soft-skills p {
  font-size: 200%;
  padding-bottom: 35%;

}

.soft-skills {
  position: absolute;
  display: inline-grid;
  padding-left: 17%;
  margin-top: 8%;


}

.skills-ranking-two {
  position: absolute;
  display: inline-grid;
  width: 20%;
  margin-left: 50%;
  margin-top: 6%;

}

.skills-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #7e939b;

}
.skills-ranking-two p {
  font-size: 150%;
}


.AI {
  width: 70%;
  background-color: #bd4944;
  color: white;

}

.ML {
  width: 80%;
  background-color: #bd4944;
  color: white;

}

.DA {
  width: 90%;
  background-color: #bd4944;
  color: white;

}

.DataScience {
  width: 70%;
  background-color: #bd4944;
  color: white;

}

.DS {
  width: 90%;
  background-color: #bd4944;
  color: white;

}

.Algo {
  width: 80%;
  background-color: #bd4944;
  color: white;

}

.CloudComputing {
  width: 65%;
  background-color: #bd4944;
  color: white;

}

.contact {
  position: absolute;
  color: grey;
  margin-top: 50px;
  margin-left: 1150px;

}
